node_modules/
.next/
dist/
coverage/
.idea/
*.iml
.dart_tool/
.flutter-plugins*
build/
.env
.env.*
!.env.example
*.log
terraform.tfstate*
.terraform/
apps/mobile/android/local.properties
apps/mobile/ios/Flutter/Generated.xcconfig
apps/mobile/ios/Flutter/flutter_export_environment.sh
apps/mobile/ios/Flutter/ephemeral/
apps/mobile/ios/Pods/
